*{
  margin: 0;
  padding: 0;
  outline: 0;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
ol,ul{
  list-style-type: none;
}
img{
  vertical-align: middle;
  border: 0;
}

/* ======================================================================================================
                                                 Navbar Part Css 
========================================================================================================*/
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif; 
  transition: all linear .3s;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 12px;
  padding-left: 12px;
}
.navbar-light .navbar-nav .nav-link:focus{
  color: #ffffff;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #ff5a5a;
}
.navbar-light .navbar-nav .nav-link::after{
  position: absolute;
  content: '';
  width: 10px;
  height: 6px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background: #ff5a5a;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  opacity: 0;
  transition: all linear .3s;
}
.navbar-light .navbar-nav .nav-link:hover::after{
  opacity: 1;
}
.navbar-light .navbar-nav .nav-link.active::after{
  opacity: 1;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #ff5a5a;
}
.btn-primary {
  color: #f5f5f5;
  background: #2b2e4a;
  border: 1px solid #2b2e4a;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(43,46,74,0.4);
  -moz-box-shadow: 0px 1px 4px 0px rgba(43,46,74,0.4);
  box-shadow: 0px 1px 4px 0px rgba(43,46,74,0.4);
  transition: all linear .3s;
}
.btn-primary:hover{
  color: #f5f5f5;
  background: transparent;
  border-color: #ff5a5a;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(255,90,90,0.4);
  -moz-box-shadow: 0px 1px 4px 0px rgba(255,90,90,0.4);
  box-shadow: 0px 1px 4px 0px rgba(255,90,90,0.4);
}
.btn{
  font-size: 16px;
  border: 1px solid #2b2e4a;
  font-family: 'Poppins', sans-serif;
  font-weight: 600; 
  border-radius: 30px;
  padding: 8px 20px;
  margin-left: 15px;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}
.navbar-light .navbar-brand {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.navbar-light .navbar-brand i{
  color: #E84545;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #ffffff;
}
.navbar{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* =======================================================================================================
                                              Banner Part Css
======================================================================================================= */
#banner{
  background: linear-gradient(60deg, #2B2E4A 0%, #2B2E4A 30%, #E84545 calc(30% + 1px), #E84545 60%, #903749 calc(60% + 1px), #903749 70%, #53354A calc(70% + 1px), #53354A 100%);
  width: 100%;
  height: 100vh;
  position: relative;
}
#banner::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.2);
}
#banner::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: url(../images/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 99;
}
.banner-text{
  position: relative;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.banner-content h1{
  color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}
.banner-text p{
  color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
  font-size: 55px;
  font-weight: 600;
  display: inline-block;
}
.banner-content span{
  color: transparent;
  -webkit-text-stroke-color: #E84545;
  -webkit-text-stroke-width: 2px;
  font-weight: 900;
}
.banner-para {
  margin-bottom: 40px;
}
.banner-para span{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #f5f5f5;
}
.banner-para i{
  color: #E84545;
  font-size: 10px;
  margin-right: 5px;
  vertical-align: middle;
  margin-bottom: 2px;
}
.banner-btn .btn-danger {
  color: #f5f5f5;
  background-image: linear-gradient(to top, #e84545 0%, #8f3749 100%);
  border-color: #E84545;
  border: 0;
}
.banner-btn .btn-warning{
  color: #ffffff;
  background-color: transparent;
  border-color: #E84545;
}
.banner-btn .mr{
  border: 2px solid #52354a;
}
.banner-btn .btn{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 22px;
}
.banner-btn i{
  color: #ffffff;
}
.mrr{
  color: #E84545!important;
}